//$font_color: #D0FFD0;
$font_color:white;
//$bg_color: #325F82;
$bg_color:black;
$canvas_color: #FFFFFF;
@mixin rounded($topl:32px, $topr:32px, $btmr:32px, $btml:32px) {
    border-radius: $topl $topr $btmr $btml;
    -moz-border-radius: $topl $topr $btmr $btml;
}
* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif
}
body {
    color: $font_color;
    background-color: $bg_color;
//    width: 1000px;
//    margin: 60px auto;
    margin: 0;
    padding: 0;
    positiion: relative;
    min-width: 600px;   /*中央配置するボックスの横幅*/
    min-height: 400px;  /*中央配置するボックスの縦幅*/
    height: 100%;
}
.centerMiddle{
//    margin: -200px 0 0 -300px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    top: 25%;       /*上端を中央に*/
    left: 10%;      /*左端を中央に*/
    width: 90vw;   /*横幅*/
    height: 50vh;  /*縦幅*/
}

header {
    display:block;
}
#main {
canvas#clock {
    border: thin solid #444;
    background-color: $canvas_color;
@include rounded();
}
}
footer {
    display: block;
    height: 30px;
    text-align: center;
    margin-top: 20px;
a {
    text-decoration: none;
    color: $font_color;
&:visited {
     color: $font_color;
 }
}
}

p{
    margin-left: 50px;
    font-size: 3vw;
}

p#RealtimeCountdownArea{
    text-align: center;
    font-size:5vw;
    padding: 50px;
}

select{
    margin-left: 50px;
    font-size: 30px;
}

input{
    margin-left: 50px;
    font-size: 30px;
}
